extends ./layout.jade
block contenido
    div(class="banner")
        div(class="se-pre-con")
        div(id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover")
                div(class="carousel-inner" role="listbox")
                    div(class="item active")
                        img(src="images/banner_galeria.jpg" alt="" class="img-responsive")
                        div(class="carousel-caption kb_caption kb_caption_center")
                            h3(data-animation="animated flipInX")|Galería
    #gallery.gallery
      .w3_tittle.second.two
        br
        br
        h3.agile-tittle.two.gal Nuestros mejores ejemplares
        .line-style.second
          span.second
      .w3-agile-top-info
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra1.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra1.jpg', alt='')
                figcaption
                  h3
                    | Fotograía 
                    span 1
                  p Descripión
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra2.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra2.jpg', alt='')
                figcaption
                  h3
                    | Fotograía 
                    span 2
                  p Descripión
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra3.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra3.jpg', alt='')
                figcaption
                  h3
                    | Fotograía 
                    span 3
                  p Descripión
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra4.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra4.jpg', alt='')
                figcaption
                  h3
                    | Fotograía 
                    span 4
                  p Descripión
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra5.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra5.jpg', alt='')
                figcaption
                  h3
                    | Fotograía 
                    span 5
                  p Descripión
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra6.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra6.jpg', alt='')
                figcaption
                  h3
                    | Fotograía 
                    span 6
                  p Descripión
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra7.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra7.jpg', alt='')
                figcaption
                  h3
                    | Fotograía 
                    span 7
                  p Descripión
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra8.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra8.jpg', alt='')
                figcaption
                  h3
                    | Fotograía 
                    span 8
                  p Descripión
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra9.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra9.jpg', alt='')
                figcaption
                  h3
                    | Fotograía 
                    span 9
                  p Descripión
        .clearfix  