extends ./layout.jade
block contenido
    div(class="banner")
        div(class="se-pre-con")
        div(id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover")
                div(class="carousel-inner" role="listbox")
                    div(class="item active")
                        img(src="images/banner_galeria.jpg" alt="" class="img-responsive")
                        div(class="carousel-caption kb_caption kb_caption_center")
                            h3(data-animation="animated flipInX")|Galería
    #gallery.gallery(style="margin-top:-5% !important")
      .w3_tittle.second.two
        br
        br
        h3.agile-tittle.two.gal Algunos de nuestros aliados
        .line-style.second
          span.second
      .w3-agile-top-info
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra1.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra1.jpg', alt='')
                figcaption
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra2.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra2.jpg', alt='')
                figcaption
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra3.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra3.jpg', alt='')
                figcaption
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra4.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra4.jpg', alt='')
                figcaption
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra5.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra5.jpg', alt='')
                figcaption
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra6.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra6.jpg', alt='')
                figcaption
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra7.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra7.jpg', alt='')
                figcaption
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra8.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra8.jpg', alt='')
                figcaption
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra9.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra9.jpg', alt='')
                figcaption
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra10.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra10.jpg', alt='')
                figcaption
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra11.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra11.jpg', alt='')
                figcaption
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/galeria_wayra12.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/galeria_wayra12.jpg', alt='')
                figcaption
        .clearfix  
        #gallery.gallery(style="margin-top:-5% !important")
          .w3_tittle.second.two
            br
            br
            h3.agile-tittle.two.gal Videos de presentaciones
            .line-style.second
              span.second
          .w3-agile-top-info
            .col-md-4.w3ls-welcome-img1.w3ls-welcome-img2
                iframe(src='https://www.youtube.com/embed/KvOK4FNhNUY', frameborder='1')
            .col-md-4.w3ls-welcome-img1.w3ls-welcome-img2
                iframe(src='https://www.youtube.com/embed/xbjY-4LmPcA', frameborder='1')
            .col-md-4.w3ls-welcome-img1.w3ls-welcome-img2
                iframe(src='https://www.youtube.com/embed/3zEvWn63hjE', frameborder='1')
            .col-md-4.w3ls-welcome-img1.w3ls-welcome-img2
                iframe(src='https://www.youtube.com/embed/BmXTCw53Uxs', frameborder='1')
            .col-md-4.w3ls-welcome-img1.w3ls-welcome-img2
                iframe(src='https://www.youtube.com/embed/1vRexvFDmVY', frameborder='1')
            .col-md-4.w3ls-welcome-img1.w3ls-welcome-img2
                iframe(src='https://www.youtube.com/embed/3zEvWn63hjE', frameborder='1')
            .clearfix  
