doctype html
html(lang="en")
  head
    title Wayra Control
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="keywords" content="Dazzling Birds Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design")
    link(href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all")
    link(rel="stylesheet" href="css/lightbox.css")
    link(href="css/style.css" rel="stylesheet" type="text/css" media="all")
    link(rel="stylesheet" href="css/ken-burns.css" type="text/css" media="all")
    link(href="css/font-awesome.css" rel="stylesheet")
    link(href="//fonts.googleapis.com/css?family=Arsenal:400,400i,700,700i" rel="stylesheet")
    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="css/reset.css")
    link(rel="stylesheet" href="css/style_nav.css")
    link(rel="stylesheet" href="css/style_s.css")
    script(src="js/modernizr.js")
  body
    block contenido
    header
        nav(id="nav-bar-wayra" class="cd-stretchy-nav nav-is-visible")
            a(class="cd-nav-trigger" href="#0")
                span(aria-hidden="true")
            ul
                li
                    a(href="/")
                        span(class="nav-wayra")|Principal
                li
                    a(href="/control-aviar")
                        span(class="nav-wayra")|Servicios
                li
                    a(href="/galeria")
                        span(class="nav-wayra")|Galería
                li
                    a(href="/contacto")
                        span(class="nav-wayra")|Contácto
                li
                    a(href="/productos")
                        span(class="nav-wayra")|Productos
            span(aria-hidden="true" class="stretchy-nav-bg")
    div(style="margin-top:-10px;" class="header-bottom-static")
        div(class="logo")
            a(class="navbar-brand" href="/")
                img(class="img-responsive logo_wayra" width="250" height="250" src="images/logo.png")
    div(class="footer")
        div(class="container")
            div(class="col-md-3 w3agile_footer_grid")
                h3|Wayra Control
                h4|Wayra Control EIRL es una empresa inscrita en el RNP (Registro Nacional de Proveedores), homologada y certificada, conformada por profesionales reconocidos en el campo de la ornitología y biología, y maestros de la cetrería con una amplia trayectoria en el rubro del control de plagas aviares.
                h2
                    a(href="/")|Página principal
            div(class="col-md-3 w3agile_footer_grid")
                h3|Páginas
                ul
                    li
                        h3
                            i.fa.fa-arrow-circle-right(aria-hidden='true')
                            |  
                            a(href="/")|Principal
                    li
                        h3
                            i.fa.fa-arrow-circle-right(aria-hidden='true')
                            |  
                            a(href="/control-aviar")|Servicios
                    li
                        h3
                            i.fa.fa-arrow-circle-right(aria-hidden='true')
                            |  
                            a(href="/galeria")|Galería
                    li
                        h3
                            i.fa.fa-arrow-circle-right(aria-hidden='true')
                            |  
                            a(href="/contacto")|Contáctanos
                    li
                        h3
                            i.fa.fa-arrow-circle-right(aria-hidden='true')
                            |  
                            a(href="/productos")|Productos
            div(class="col-md-3 w3agile_footer_grid")
                h3|SERVICIOS
                ul
                    li
                        h3
                            i.fa.fa-arrow-circle-right(aria-hidden='true')
                            |  
                            a(href="/control-aviar")|Control aviar
                    li
                        h3
                            i.fa.fa-arrow-circle-right(aria-hidden='true')
                            |  
                            a(href="/exhibiciones")|Exhibiciones de cetrería
                    li
                        h3
                            i.fa.fa-arrow-circle-right(aria-hidden='true')
                            |  
                            a(href="/publicidad")|Publicidad
            div(class="col-md-3 w3agile_footer_grid")
                h3|INFORMACIÓN DE CONTACTO
                ul
                    li
                        h4
                            i.fa.fa-phone-square(aria-hidden='true')
                            |  
                            a  Oficina : 01-4179068
                    li
                        h4
                            i.fa.fa-phone-square(aria-hidden='true')
                            |  
                            a  Celular : 943 547 748
                    li
                        h4
                            i.fa.fa-phone-square(aria-hidden='true')
                            |  
                            a  Celular : 939 086 646
                    li
                        h4
                            a(href="mailto:cotizaciones@wayracontrol.com?Subject=Información")| cotizaciones@wayracontrol.com
                    li
                        h4
                            i.fa.fa-home(aria-hidden='true')
                            |  
                            a  Calle los nogales 353 - Santa Anita - Lima
                    li
                        h4
                            i.fa.fa-arrow-circle-right(aria-hidden='true')
                            |  
                            a(href="/contacto")|Enviar mensaje de Contácto
    div(class="agileinfo_copy_right")
        div(class="container")
            div(class="agileinfo_copy_right_left")
                p|© 2017 Wayra Control. Todos los derechos reservados. | Desarrollado por 
                    a(href="https://vasquez8d.github.io/profile/")|Alexsandre Vásquez
            div(class="agileinfo_copy_right_right w3l_header_right")
                ul(class="social-bnr-agileits")
                    li
                        a(href="#")
                            i(class="fa fa-facebook" aria-hidden="true")
                    li
                        a(href="#")
                            i(class="fa fa-twitter" aria-hidden="true")
                    li
                        a(href="#")
                            i(class="fa fa-instagram" aria-hidden="true")
            div(class="clearfix")
    script(type="text/javascript" src="js/jquery-2.2.3.min.js")
    script(type="text/javascript" src="js/main.js")
    script(src="js/lightbox-plus-jquery.min.js")
    script.
        if ($(window).width() < 450) {
           $('#nav-bar-wayra').removeClass("nav-is-visible");
        }
        else {
           $('#nav-bar-wayra').addClass("nav-is-visible");
        }
        
        $(window).on('resize', function(){
            if ($(window).width() < 450) {
               $('#nav-bar-wayra').removeClass("nav-is-visible");
            }
            else {
               $('#nav-bar-wayra').addClass("nav-is-visible");
            }
        });
    script(src="js/particles.js")
    script(src="js/app.js")
    link(href="css/owl.carousel.css" rel="stylesheet")
    script(src="js/owl.carousel.js")
    
    script.
        $(document).ready(function() {
            $("#owl-demo").owlCarousel({
            items : 1,
            lazyLoad : true,
            autoPlay : true,
            navigation : false,
            navigationText :  false,
            pagination : true,
            });
        });
        
    script.
        $(window).load(function() {
            $("#flexiselDemo1").flexisel({
                visibleItems: 4,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,    		
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: { 
                    portrait: { 
                    changePoint:480,
                    visibleItems: 1
                    }, 
                    landscape: { 
                    changePoint:640,
                    visibleItems:2
                    },
                    tablet: { 
                    changePoint:768,
                    visibleItems: 3
                    }
                }
            });
        });
        
    script(type="text/javascript" src="js/jquery.flexisel.js")
    script(type="text/javascript" src="js/move-top.js")
    script(type="text/javascript" src="js/easing.js")
    
    script.
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){		
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    
    script(src="js/bootstrap.js")
    
    script.
        $(document).ready(function() {
        $().UItoTop({ easingType: 'easeOutQuart' });
        });
    script.
          $('#btnEnviar').click(function(){
            
            var nombre = $('#name').val();
            var correo = $('#mail').val();
            var mensaje = $('#mensaje').val();
            
            if (nombre.trim() == "" || correo.trim() == "" || mensaje.trim() == "")
            {
              $('#falta_info').show(500);
            }
            else
            {
                $.ajax({
                    url: "/sendmail",
                    type: "get", //send it through get method
                    data: { 
                      nombre: nombre, 
                      correo: correo, 
                      mensaje: mensaje
                    },
                    success: function(response) {
                      window.location.href = "/rptamail";
                    },
                    error: function(xhr) {
                      window.location.href = "/rptamail";
                    }
                });
            }
          });
    script.
        $(document).ready(function () {
            $(window).bind('scroll', function () {
                if ($(window).width() < 450) {
                    if ($(window).scrollTop() > 100) {
                        $('.header-bottom').fadeIn(200);
                        $('.header-bottom-static').fadeOut(200);

                    } else {
                        $('.header-bottom').fadeOut(200);
                        $('.header-bottom-static').fadeIn(200);
                    }
                }
                else {
                    if ($(window).scrollTop() > 100) {
                        $('.header-bottom').fadeIn(200);
                        $('.header-bottom-static').fadeOut(200);
                        $('#nav-bar-wayra').removeClass("nav-is-visible");

                    } else {
                        $('.header-bottom').fadeOut(200);
                        $('.header-bottom-static').fadeIn(200);
                        $('#nav-bar-wayra').addClass("nav-is-visible");
                    }    
                }
            });
        });
