extends ././layout.jade
block contenido
    div(class="banner")
        div(class="se-pre-con")
        div(id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover")
                div(class="carousel-inner" role="listbox")
                    div(class="item active")
                        img(src="images/banner_servicios1.jpg" alt="" class="img-responsive")
                        div(class="carousel-caption kb_caption kb_caption_center")
                            h3(data-animation="animated flipInX")|Productos
    #about.work
        .agileits_works-top
            .col-md-6.agileits_works-grid
                img.img-responsive(src='images/landing_nosotros.jpg', alt=' ')
            .col-md-6.agileits_works-grid.two
                .wthree-text
                    h4 Productos para el control aviar
                    .w3_tittle
                        .line-style
                            span
                    p
                        | Ofrecemos productos de uso especial para el control aviar, entre los principales tenemos : 
                    div(class="col-md-12 w3agile_footer_grid")
                        ul(style="text-align:left;")
                            li
                                h3
                                    i.fa.fa-arrow-circle-right(aria-hidden='true')
                                    |  
                                    a.example-image-link(href='images/productos_1.jpg', data-lightbox='example-set', data-title='Redes Japonesas o de neblina.') Redes Japonesas o de neblina.
                            li
                                h3
                                    i.fa.fa-arrow-circle-right(aria-hidden='true')
                                    |  
                                    a.example-image-link(href='images/productos_2.jpg', data-lightbox='example-set', data-title='Pinchos o púas de exclusión.') Pinchos o púas de exclusión.
                            li
                                h3
                                    i.fa.fa-arrow-circle-right(aria-hidden='true')
                                    |  
                                    a.example-image-link(href='images/productos_3.jpg', data-lightbox='example-set', data-title='Gel repelente para aves.') Gel repelente para aves.
                            li
                                h3
                                    i.fa.fa-arrow-circle-right(aria-hidden='true')
                                    |  
                                    a.example-image-link(href='images/default.jpg', data-lightbox='example-set', data-title='Cañones neumáticos de captura masiva.') Cañones neumáticos de captura masiva.
                            li
                                h3
                                    i.fa.fa-arrow-circle-right(aria-hidden='true')
                                    |  
                                    a.example-image-link(href='images/default.jpg', data-lightbox='example-set', data-title='Superficies de tropiezo (palomas).') Superficies de tropiezo (palomas).
                            li
                                h3
                                    i.fa.fa-arrow-circle-right(aria-hidden='true')
                                    |  
                                    a.example-image-link(href='images/default.jpg', data-lightbox='example-set', data-title='Cañones de gas.') Cañones de gas.
                            li
                                h3
                                    i.fa.fa-arrow-circle-right(aria-hidden='true')
                                    |  
                                    a.example-image-link(href='images/default.jpg', data-lightbox='example-set', data-title='Jaulas de captura focalizada.') Jaulas de captura focalizada.
                            li
                                h3
                                    i.fa.fa-arrow-circle-right(aria-hidden='true')
                                    |  
                                    a.example-image-link(href='images/productos_5.jpg', data-lightbox='example-set', data-title='Trampas “tomahawk” para ratas y otros mamíferos.') Trampas “tomahawk” para ratas y otros mamíferos.
            .clearfix