extends ././layout.jade
block contenido
    div(class="banner")
        div(class="se-pre-con")
        div(id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover")
                div(class="carousel-inner" role="listbox")
                    div(class="item active")
                        img(src="images/banner_servicios1.jpg" alt="" class="img-responsive")
                        div(class="carousel-caption kb_caption kb_caption_center")
                            h3(data-animation="animated flipInX")|Control Aviar
    .services
      .container
        .col-md-6.services-w3ls-left
          h3.agileits-title El control de plagas aviares
          p
            | Desde el principio de los tiempos, el ecosistema ha sido autónomo en esta labor: las aves de presa, en toda su variedad de especies, han mantenido el control sobre las demás aves y mamíferos.
          br
          p
            | Lamentablemente, el uso irresponsable de pesticidas, el tráfico ilegal y la reducción de sus hábitats han conseguido mermar gravemente sus poblaciones a nivel mundial.
          br
          p
            | Nuestro país no está exento a esta situación, pues las aves que habitan en zonas agrícolas, industriales y marinas presentan niveles altísimos de sobrepoblación.
          br
          p
            | Nuestro enfoque en cada área es distinto y la estrategia diferente, pues basándonos en el principio de oportunidad que hábilmente han aprovechado las aves plaga, introducimos predadores específicos para el tipo de ave que se requiera, los mismos que han sido entrenadas cuidadosamente para ejercer control y recuperar el espacio que nuestras mismas acciones les han restado.
        .col-md-6.services-w3ls-row.agileits-w3layouts
          br
          br
          br
          br
          br
          .col-md-6.col-xs-4.services-grid.agileits-w3layouts
            i.fa.fa-check-square-o(aria-hidden='true')
            h5 Contamos con años de experiencia
          .col-md-6.col-xs-4.services-grid.agileits-w3layouts
            i.fa.fa-times(aria-hidden='true')
            h5 Elimine las plagas aviares
          .col-md-6.col-xs-4.services-grid.srvs-wthree-mdl.agileits-w3layouts
            i.fa.fa-users(aria-hidden='true')
            h5 Evite enfermedades a causa de plagas aviares
          .col-md-6.col-xs-4.services-grid.srvs-wthree-mdl
            i.fa.fa-leaf(aria-hidden='true')
            h5 Evite perdidas de materia prima
          .clearfix  
        .clearfix 
        
    #gallery.gallery(style="margin-top:-10% !important")
      .w3_tittle.second.two
        h3.agile-tittle.two.gal Control aviar agricola
        .line-style.second
          span.second
      .w3-agile-top-info
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/control_agricola_1.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/control_agricola_1.jpg', alt='')
                figcaption
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/control_agricola_2.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/control_agricola_2.jpg', alt='')
                figcaption
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/control_agricola_3.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/control_agricola_3.jpg', alt='')
                figcaption
        .clearfix  
    
    #gallery.gallery(style="margin-top:-10% !important")
      .w3_tittle.second.two
        h3.agile-tittle.two.gal Control aviar industrial
        .line-style.second
          span.second
      .w3-agile-top-info
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/control_industrial_1.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/control_industrial_1.jpg', alt='')
                figcaption
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/control_industrial_2.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/control_industrial_2.jpg', alt='')
                figcaption
        .col-md-4.gallery-grid
          .grid
            figure.effect-roxy.galeria_wayra
              a.example-image-link(href='images/control_industrial_3.jpg', data-lightbox='example-set', data-title='Descrpción para la fotograía.')
                img(src='images/control_industrial_3.jpg', alt='')
                figcaption
        .clearfix  
    .services(style="margin-top:-10% !important")
      .container
        h3.agile-tittle.two.gal Otros Servicios Wayra Control
        br
        .col-md-12.services-w3ls-row.agileits-w3layouts
          .col-md-4.col-xs-4.services-grid.agileits-w3layouts
            a(href="/control-aviar")
                i.fa.fa-leaf(aria-hidden='true')
                h5 Control Aviar
          .col-md-4.col-xs-4.services-grid.agileits-w3layouts
            a(href="/exhibiciones")
                i.fa.fa-star(aria-hidden='true')
                h5 Exhibiciones de cetrería
          .col-md-4.col-xs-4.services-grid.agileits-w3layouts
            a(href="/publicidad")
                i.fa.fa-picture-o(aria-hidden='true')
                h5 Publicidad
          .clearfix  
        .clearfix 