extends ./layout.jade
block contenido
    div(class="banner")
        div(class="se-pre-con")
        div(id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover")
                div(class="carousel-inner" role="listbox")
                    div(class="item active")
                        img(src="images/banner_servicios.jpg" alt="" class="img-responsive")
                        div(class="carousel-caption kb_caption kb_caption_center")
                            h3(data-animation="animated flipInX")|Servicios